body {
    font-family: "Arial", sans-serif;
}

html {
    background: url(./images/back.gif) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    color: white;
    text-decoration: underline;
}

section {
    text-align: center;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
    color: white;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.game--restart {
    background: #40f546;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 10%;
    box-shadow: 4px 8px white;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
        box-shadow: 8px 16px #888888;
        cursor: pointer;
        background: #00ff087e;
    }
}

.game--status {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, white, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 4s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,
    100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}